#context {
    width: 100%;
    border: none;
    resize: none;
    overflow: scroll;
    overflow-x: hidden;
    scrollbar-width: thin;
    scrollbar-color: var(--color-alpha) var(--color-lightgray);
    text-align: justify;
    padding-right: 10px;

    @media (max-width: 54em) {
        height: 55vh;
        font-size: 105%;
    }

    @media (min-width: 54em) {
        height: 40vh;
        font-size: 110%;
    }

    @media (min-width: 114em) {
        height: 40vh;
        font-size: 155%;
    }
}

.active {
    cursor: auto;
}